@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* LOGO STYLES */
.logo-container {
  position: relative;
}

.logo-container .rombo {
  width: 35px;
  height: 35px;
  transform: rotate(45deg);
  border: 2px solid #0a84ff;
  border-radius: 5px;
  animation: outTestRombo 0.4s ease;
}

.logo-container .circle {
  position: absolute;
  top: 4px;
  left: 25px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #7e8b9f;
  animation: outTestCircle 0.4s ease-in-out;
}

.logo-container:hover {
  cursor: pointer;
}

.logo-container:hover .rombo {
  transform: translate(10px) rotate(45deg);
  animation: reboteRomboInicial 0.8s ease-in-out;
}

.logo-container:hover .circle {
  transform: translate(-11px);
  animation: reboteCircleInicial 0.4s ease-in-out;
}

@keyframes reboteRomboInicial {
  0% {
    transform: translateX(0) rotate(45deg);
  }

  20% {
    transform: translateX(10px) rotate(45deg);
  }

  40% {
    transform: translateX(7px) rotate(45deg);
  }

  60% {
    transform: translateX(10px) rotate(45deg);
  }

  80% {
    transform: translateX(8px) rotate(45deg);
  }

  100% {
    transform: translateX(10px) rotate(45deg);
  }
}

@keyframes reboteCircleInicial {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-14px);
  }

  100% {
    transform: translateX(-10px);
  }
}

@keyframes outTestRombo {
  0% {
    transform: translateX(10px) rotate(45deg);
  }

  50% {
    transform: translateX(-4px) rotate(45deg);
  }

  100% {
    transform: translateX(0px) rotate(45deg);
  }
}

@keyframes outTestCircle {
  0% {
    transform: translateX(-6px) rotate(45deg);
  }

  25% {
    transform: translateX(4px) rotate(45deg);
  }

  50% {
    transform: translateX(0px) rotate(45deg);
  }

  75% {
    transform: translateX(5px) rotate(45deg);
  }

  100% {
    transform: translateX(0px) rotate(45deg);
  }
}

/* Hero LOGO ACM */
.glow:hover {
  filter: drop-shadow(0px 0px 10px rgba(10, 132, 255, 0.5));
  scale: 110%;
}


/* AcmTeams hover */
.acmTeams_hover:hover {
  filter: drop-shadow(0 0 0.7rem var(--hover-color));
}